.env
.env.local
node_modules/
dist/
extension-dist/
web-dist/
.mf/
*.vsix
.vscode-test/
.DS_Store
vscode-extension/node_modules/
vscode-extension/media/
vscode-extension/dist/
vscode-extension/web-dist/
vscode-extension/resources/
vscode-extension/*.vsix
vscode-extension/icon.png
vscode-extension/README.md
vscode-extension/CHANGELOG.md
vscode-extension/LICENSE
