.vscode/**
.vscode-test/**
vscode-extension/**
public/**
.mf/**
src/**
test/**
webapp/**
web-dist/**
node_modules/**
!node_modules/zod/**
*.vsix
index.html
vite.config.ts
tsconfig.web.json
tsconfig.json
package-lock.json
.gitignore
.DS_Store
dist/@mf-types/**
dist/@mf-types.d.ts
dist/@mf-types.zip
dist/.dev-server/**
dist/.dev-server.d.ts
dist/.dev-server.zip
dist/.vite/**
dist/assets/**
dist/index.html
dist/mf-*.json
dist/mf-entry-bootstrap-*.js
dist/remoteEntry.js
